body {
	background-color: blue;
}


#header {
	background: url(https://hd.unsplash.com/photo-1469614369149-4f0c1468c331) no-repeat center top;
	background-size: cover;
	position: fixed;
	height: 90%;
	bottom: 10%;
	right: 0;
	left: 0;
	top: 0;
}
#header .center {
	background: rgba(0, 0, 0, 0.25);
	text-align: center;
	position: absolute;
	color: #FFFFFF;
	color: #F5F7FA;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
#header .center .middle {
	position: absolute;
	margin-top: -8em;
	right: 0;
	left: 0;
	top: 50%;
}
#header .center .middle h1 {
	font-weight: normal;
	line-height: 1em;
	font-size: 11em;
	margin: 0;
}


section#content {
	position: absolute;
	right: 0px;
	left: 0px;
	top: 90%;
	z-index: 10;
};

div#thing {
	/*margin-left: 50%;*/
	float: left;
	background-color: orange;
	width: 50%;
	height: 300px;
}

div#box {
	background-color: red;
	width: 50%;
	height: 300px;
	float: right;
}
h1 {
	font-size: 10vh;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-top: 20vh;
}

@media only screen and (max-width: 800px) and (orientation:landscape) {

}

@media only screen and (max-width: 700px) and (orientation:portrait) {
	body {
		background-color: yellow;
	}
	div {
		clear: both;
	}

	div#box {
		width: 100%;
	}

	div#thing {
		width: 100%;
	}

}