* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: purple;
}

img#image {
	position: relative;
	width: 100vw;
	height: auto;
	max-height: 350px;
	z-index: -1;

}

.content {
	height: 350px;
	width: 100%;
	background-color: #4DBBAC;
	position: relative;
	z-index: 1;
}

div#thing {
	/*margin-left: 50%;*/
	float: left;
	background-color: orange;
	width: 50%;
	height: 300px;
}

div#box {
	background-color: red;
	width: 50%;
	height: 300px;
	float: right;
}
h1 {
	font-size: 10vh;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	/*margin-top: 20vh;*/
}

/* Testing out 3D text animation */
.boxContainer {
	border: 5px solid blue;
	width: 100vw;
	height: 150px;
	line-height: 150px;
	position: relative;
	/*text-align: center;*/
	perspective: 800px;
}

#card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

#card figure {
	/*margin-top: 10px;*/
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

#card figure h1 {
	color: red;
}

#card .front {
	background: #FF69B4;
}

#card .bottom {
	background: #7CFC00;
	transform: rotateX(180deg);
}

#card.flipped {
	transform: rotateX(180deg);
}

/* Temporary to take up some space  */
.layers:nth-of-type(1) { background:#16a085 }
.layers:nth-of-type(2) { background:#f1c40f }
.layers:nth-of-type(3) { background:#27ae60 }
.layers:nth-of-type(4) { background:#2980b9 }
.layers:nth-of-type(5) { background:#2c3e50 }

div.layers {
	width: 100%;
	height: 300px;
}

@media only screen and (max-width: 800px) and (orientation:landscape) {

}

@media only screen and (max-width: 700px) and (orientation:portrait) {
	body {
		background-color: yellow;
	}
	div {
		clear: both;
	}

	div#box {
		width: 100%;
	}

	div#thing {
		width: 100%;
	}

}